.container-messages{
    width: 65%;
    height: 100%;
}

.component-message{
    width: 65%;
    
    position: fixed;
    bottom: 0;
    background-color: white;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    .container-messages span{
        display: none;
    }
}
